body{
  margin:0;
  padding:0;
}

.background{
  background-image: url("../snowtrees.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height:800px;    
}


.sub{
  width:50px;
  height:50px;
  margin-left:350px;
  padding:0;
}


  

.headerpic{
  width:50px;
  height:50px;
  margin:0;
  padding:0;
}

li{
    font-family: 'Michroma';
    font-weight:normal;
    font-size:30px;
    display:inline;
    
}

ul a{
  text-decoration:none;
  color:black;
  top:0;
  display:flex;
  
}

.hobby{/*main index*/
  display:flex;  
  justify-content:center;
  padding:0;
  margin:0;
}

.homebtn{
  display:flex;  
  justify-content:flex-start;
  margin:0;
  padding:0;
}

.topic{
  display:flex; 
  justify-content:center;
  text-align:center;
  
}  
  
.nav {
  position:fixed;
  z-index:1;
  background-color:white;
  top:0;
  width:100%;
  height:50px; 
  flex-wrap:wrap;
}

.threebars {
    width: 35px;
    height: 4px;
    border:1px solid black;
    border-radius:10px;
    background-color:black;
    margin: 5px 0;  
}

.menu {
    position: relative;
    display: inline;
    float:right;
    top:0;
    padding: 5px 20px 7px;
    border-left: 1px solid #E8EDEF;
    cursor: pointer;
}


.dropdown {
    display:inline;    
    position:absolute;
    top:0;
    right:0;    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top:50px;
    right:0;
    z-index:1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    font-family:'Raleway';
    text-align:center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/*Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

.welcome{
  width:300px;
  height:120px;
  margin:auto;
  text-align:center;
  background:linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
  border-radius:5px;
  top:200px;
  position:relative;
  padding-bottom:3px;
  padding-top:3px;
}

h1{
  font-family:'Raleway';
  
}

h2{
  font-family:'Raleway';
  font-size:28px;
  letter-spacing:2px;
  text-align:center; 
}

.sport{
  position:relative;
  margin:auto;
  width:450px;
  height:80px;
  top:100px;
  border:1px solid white;
  border-radius:5px;
  background-color: blue;
  opacity:0.5;
}

.sportpic{
  float:right;
  clear:both;
  display:block;
  height:250px;
  width:250px;
  border-radius:10px;
  top:50px;
  right:80px;
  margin:30px 0;
  position:relative;
  opacity:0.5;  
}

.sportpic:hover{
  opacity:1;
}

.space{
  height:400px;
  width:90%;
  margin: 50px auto;
  border-bottom:1px solid grey;
  border-top:1px solid grey;  
}


.backgroundtwo{
  height:800px;
  background-image: url("../images/newskihero.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  
  
}

.backgroundthree{
  height:800px;
  background-image: url("../images/skires.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

.backgroundfour{
  height:800px;
  background-image: url("../images/sothebyshouse1.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

.footer{
  height:400px;
  background-color:#CED3D5;
  align-items:center;
}

.logofoot{
  height:300px;
  width:300px;
}

.logodiv{
  position:relative;
  margin:auto;
  
}
