.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index:2;
}

/* Modal Content */
.modal-content {
    z-index:2;
    position: relative;
    background: linear-gradient(to bottom right, #00F0FF, #00D5E3);
    margin: auto;
    border: 1px solid #888;
    border-radius:10px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-body{
  text-align:center;
  padding: 2px 16px;
}

.modal-body p{
    font-size:30px;
    font-family: "arial";
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
 }

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

body{
  margin:0;
  padding:0;
}

hr{ 
    display: block;
    width:80%;
    margin:auto;
    height:2px;
    border:0;
    background-color:grey;
} 

.sub{
  height:50px;
  width:50px;
}

.headerpic{
  width:50px;
  height:50px;
  margin:0;
  padding:0;
}

li{
    font-family: 'Michroma';
    font-weight:normal;
    font-size:30px;
    display:flex;
    color:white;
}

ul a{
  text-decoration:none;
  color:white;
  top:0;
  display:flex;  
}

.hobby{/*main index*/
  display:flex;  
  justify-content:center;
  padding:0;
  margin:0;
}

.homebtn{/*tabs*/
  display:inline;
  position:absolute;
  left:0;
  top:0;
  /*justify-content:flex-start;*/
  padding:0;
  margin:0;
}

.topic{
  display:flex; 
  justify-content:center;
  padding:0;
  margin:0;
}  
  
.nav {
  position:fixed;
  display:flex;
  justify-content:center;
  z-index:1000;
  background-color:black;
  top:0;
  width:100%;
  height:50px; 
}

.threebars {
    width: 35px;
    height: 4px;
    border:1px solid white;
    border-radius:10px;
    background-color:white;
    margin: 5px 0;  
}

.menu {
    position: relative;
    display: inline;
    float:right;
    top:0;
    padding: 5px 20px 7px;
    border-left: 1px solid grey;
    cursor: pointer;
}

.dropdown {
    display:inline;    
    position:absolute;
    top:0;
    right:0;    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top:50px;
    right:0;
    z-index:1;
    opacity:0.7;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    font-family:'Raleway';
    text-align:center;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
    transition: color 1s, background 1s;
}

/*Change color of dropdown links on hover */
.dropdown-content a:hover {
    /*background: linear-gradient(to left, rgba(255,255,255,1), rgba(0,0,0,1));*/
    color:black;
    background:white;
}

.cartext{
  position:absolute;
  right:0;
  top:0;
  padding:50px 70px;
  text-align:right;
}

.cartext p{
  font-family:'Quicksand';
  font-size:50px;
  font-weight:300px;  
}
.mySlides {
  display:none;
  background-size:100% 100%;
  background-repeat:no-repeat;
  height:588px;
  width:auto;
}

/* Slideshow container */
.slideshow-container {
  width:100%;
  position:relative;
  margin-top:50px;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;/*manual*/
  height: 13px;
  width: 13px;
  margin: 2px 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

h2{
  font-family:'Quicksand';
  font-size:37px;
  font-weight:500;
  margin-top:
}

.sports{
  height:500px;
  max-width:100%;
  position:relative;
  padding:50px;
  display:flex; 
  background:#F7F7F7;
}

.sport{
  max-width:300px;
  height:80%;
  top:50px;
  right:30%;
  background-color: #f9f9f9;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  position:relative;  
}

.sportpic{
  height:80%;
  width:70%;
  border-radius:10px;
  opacity:1;
  display:inline;  
}

.sportpic:hover{
  opacity:0.9;  
}

.sportimg{
  right:130px;
  display:block;
  position:relative;
}

.sport p{
  font-family:'Raleway';
  font-size:30px;
  font-weight:100;
  margin:0 0 10px 0;
}

.sport p img{
  padding-right:10px;
  margin-left:5px;
  height:20px;
  width:20px;
  margin-top:3px;
}

.spacethree{
  height:450px;
  margin: 50px 0;
  border-bottom:1px solid grey;
  border-top:1px solid grey;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.text {
  display:flex;
  height:300px;
  width:400px;
  margin:50px 20px 0 20px;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.3);
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.country{
  justify-content:center;
  display:flex;
  position:absolute;
  font-family:'quicksand';
  font-size:30px;
  font-weight:200;
  color:white;
  width:400px;
  padding-top:10px;
  opacity:0;
  transition:0.5s ease;
}

.text:hover{/*change for destinations*/
  opacity:0.9;
}

.text:hover .country{
  opacity:1;
}

.res{
  display:flex;
  width:400px;
  height:50px;
  margin:0 20px;
  text-align:center;
}

h3{
  font-family:'Quicksand';
  font-size:30px;
  margin:auto;
  vertical-align:middle;
  font-weight:200;
}

#destinations, #sportchoice{
  font-family:'Quicksand';
  font-size:30px;  
  padding:40px;
}  

.newsletter{
  background: #00CDDB;
  /*background-color:#ACACAC;*/
  display:flex;
  border-bottom:1px solid grey;
}

.bar{  
  margin-left:20px;
}

.input{
  border:2px solid black;
  border-radius:5px;
  margin-top:15px;
  padding-left:10px;
  height:30px;
  width:500px;
  font-family:'Quicksand';  
}

.input:focus{
  outline:none;
}

.newsletter p{
  font-family:'Quicksand';
  font-size:20px;
  font-weight:700;
}

.footer{
  height:200px;
  /*background-color:#ACACAC;*/
  background: linear-gradient(to bottom right, #00CDDB, white);
  display:flex;
  position:relative;
}

.footer img{
  height:150px;
  width:150px;
  right:0;
  top:0;
  position:absolute;
  display:inline;
}

.footerdiv ul{
  margin:0;
  padding-top:20px;
}

.footerdiv ul li{
  font-family:'Quicksand';
  font-size:15px;
  font-weight:300;
  margin-top:5px;
  color:black;
}

.footerdiv ul a{
  font-family:'Quicksand';
  font-size:15px;
  font-weight:300;
  text-decoration:none;
  color:black;
}

.footerdiv ul li:hover{
  color:white;
  cursor:pointer;
}

.footerdiv ul a:hover{
  color:white;
  cursor:pointer;
}

.socialbtns{
  display:inline;
  position:absolute;
  left:50%;
  margin-right: -50%;
  transform: translate(-50%, 0); 
  bottom:0;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.mail{
  position:relative;
  margin-left:20px;
  padding-top:7px;
  background-color:#ACACAC;
}

.fa-envelope-o{
  color:white;  
  background:#ACACAC;  
}

.fa-facebook {
  background: black;
  color: #f1f1f1;
}

.fa-facebook:hover {
  background: #3B5998;
}

.fa-twitter {
  background: black;
  color: #f1f1f1;
}

.fa-twitter:hover {
  background: #55ACEE;
}

.fa-google {
  background: black;
  color: #f1f1f1;
}

.fa-google:hover {
  background: #dd4b39;
}

.fa-youtube {
  background: black;
  color: #f1f1f1;
}

.fa-youtube:hover {
  background: #bb0000;
}

.fa-instagram {
  background: black;
  color: #f1f1f1;
}

.fa-instagram:hover {
  background: #125688;
}

.fa-pinterest {
  background: black;
  color: #f1f1f1;
}

.fa-pinterest:hover{
  background: #cb2027;
}

.fa-snapchat-ghost {
  background: black;
  color: #f1f1f1;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-snapchat-ghost:hover{
  background: #fffc00;
}

.end{
  background-color:black;
  text-align:center;
  padding:5px;
}

.end p{
  color:white;
  font-family:'Raleway';
  letter-spacing:3px;
  font-weight:100;
  font-size:10px;
  margin:0;
}

.error{
  background-color:#ECEDEE;
  position:relative;
  text-align:center;
}

.error p{
  position:absolute;
  top: 40%;
  left:50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

/*CONTACT PAGE*/

/* Style inputs with type="text", select elements and textareas */
.enter, select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top:50px;
}


