body{
  margin:0;
  padding:0;
}

.background{
  background-image: url("../snowtrees.jpg");
  background-repeat: no-repeat;
  background-size: 110% 110%;
  height:620px;    
  background-attachment: relative;
}



/*
.footer{
  background-color:#33F3FF;
  height:70px;
  border-top: 3px solid red;
  
}*/

img{
  width:20px;
  height:20px;
  border-radius:5px;
}

.hobby{
  font-family: 'Montez';
    font-style:italic;
    font-weight:normal;
    font-size:15px;
    padding-bottom:5px;
}

.nav {
  list-style-type: none;
  text-align:center;
  position:fixed;
  background-color:white;
  bottom:0;
  width:100%;
 }

/*.nav li {
  color: white;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  padding:10px 5px;
  margin-left:20px;
  }

li a:hover{
    background-color: #111;
}

li {
    border: 3px solid white;
  border-radius:5px;
}
*/
